.Experience table {
  width: 100%;
}

.Experience table td {
  text-align: left;
  vertical-align: baseline;
  padding-bottom: 1rem;
}

.Experience table .first-c {
  width: 35%;
}

.Experience table .name {
  color: #1b1b1b;
  font-weight: 700;
}

.Experience table .data {
  font-weight: 300;
}

.Experience table .location {
  color: #fba134;
  font-weight: 700;
  display: flex;
  align-items: flex-start;
}

.Experience table .location img {
  width: 1.5rem;  
  padding-right: .5rem;
}