#Navbar {
  border: 0px;
  background-color: #fba134;
  top: 100%;
  width: 8.296vw;
  min-width: 7rem;
  z-index: 99999;
}

#Navbar .navbar-header {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid;
}

#Navbar .navbar-header .menu {
  width: 11vh;
  height: auto;
  padding: .5rem 1rem;
}

#Navbar ul {
  padding: 0;
}

#Navbar li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

#Navbar li h1 {
  font-weight: 700;
  font-size: 1rem;
}