
#Profile .content p {
  text-align: left;
  font-weight: 300;
}

#Profile .content dl {
  text-align: left;
  font-weight: 300;
}

#Profile .content dd {
  margin-bottom: 1rem;
}

#Profile .content .photo {
  width: 21vw;
  border-radius: 50%;
}