#Projects {
  background-color: gainsboro;
  min-height: 100vh;
}

#Projects .projects-container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

#Projects .projects-column {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}